/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2980b9, #2c3e50);
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(117, 105, 105);
    background-color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #997b7b;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo para o conteúdo principal */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor escura com transparência */
    z-index: 1; /* Garante que a camada escura fique atrás do main */
}

/* Estilo para o conteúdo principal */
/* Estilo para o conteúdo principal */
main {
    position: fixed;
    z-index: 2;
    width: 80%; /* Define uma largura fixa */
    max-width: 800px; /* Limita a largura máxima */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    overflow-y: auto; /* Habilita a rolagem vertical quando necessário */
    max-height: 80vh; /* Define a altura máxima relativa à altura da janela de visualização */
}

/* Estilo para os detalhes da transação */
.transaction-details {
    margin-bottom: 20px; /* Espaçamento entre as transações */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Adiciona uma linha divisória */
    padding-bottom: 10px; /* Espaçamento inferior */
}


.transaction-list {
    text-align: left; /* Ajuste para alinhar as transações à esquerda */
}

.transaction {
    margin-bottom: 10px; /* Espaçamento entre as transações */
}

.date {
    font-weight: bold; /* Realce para a data */
}

.amount {
    float: right; /* Alinhamento à direita para o valor */
}
